body{
  background-image: url("../ress/coming.jpg");
}


#globe{
  margin-right: 50px;
}
#video{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 60%;
  left: 25%;
  transform: translate(0px, -50%);
}
